---
# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json
e2e-tests:pre:set-molecule-env:
  stage: e2e-tests:pre
  image: alpine:3.23.2
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master|main$/'
  variables:
    OS_AUTH_TYPE: v3applicationcredential
    OS_INTERFACE: public
  script:
    - echo "OS_AUTH_TYPE=${OS_AUTH_TYPE}" >> e2e-tests:pre:set-molecule-env.env
    - echo "OS_INTERFACE=${OS_INTERFACE}" >> e2e-tests:pre:set-molecule-env.env
  artifacts:
    expire_in: 1 hour
    reports:
      dotenv: e2e-tests:pre:set-molecule-env.env
    access: none

include:
  - project: ednz-cloud/gitlab-ci-library
    ref: main
    file: includes/vault-get-secrets.yml
    inputs:
      stage: e2e-tests:pre
      identifier: pcp-w3rxsrj-dc4-a
      vault_addr: $VAULT_ADDR
      vault_approle_id: $VAULT_APPROLE_ID
      vault_approle_secret_id: $VAULT_APPROLE_SECRET_ID
      vault_secrets: |
        kv/data/infrastructure/openstack/regions/dc4_a auth_url | OS_AUTH_URL
        kv/data/infrastructure/openstack/regions/dc4_a identity_api_version | OS_IDENTITY_API_VERSION
        kv/data/infrastructure/openstack/regions/dc4_a region_name | OS_REGION_NAME
        kv/data/infrastructure/openstack/projects/pcp_w3rxsrj/users/tofu application_credential_id | OS_APPLICATION_CREDENTIAL_ID
        kv/data/infrastructure/openstack/projects/pcp_w3rxsrj/users/tofu application_credential_secret | OS_APPLICATION_CREDENTIAL_SECRET
      rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master|main$/'

  - project: ednz-cloud/gitlab-ci-library
    ref: main
    file: includes/molecule-e2e-tests.yml
    inputs:
      stage: e2e-tests
      identifier: k3s
      scenarios:
        - k3s__default__openstack
        - k3s__pinned_version__openstack
      scenario_configs:
        - '{"MOLECULE_TEST_OS":"Debian 11 bullseye","MOLECULE_TEST_USER":"debian"}'
        - '{"MOLECULE_TEST_OS":"Debian 12 bookworm","MOLECULE_TEST_USER":"debian"}'
        - '{"MOLECULE_TEST_OS":"Ubuntu 22.04 LTS Jammy Jellyfish","MOLECULE_TEST_USER":"ubuntu"}'
        - '{"MOLECULE_TEST_OS":"Ubuntu 24.04 LTS Noble Numbat","MOLECULE_TEST_USER":"ubuntu"}'
      needs:
        - job: e2e-tests:pre:vault:get-secrets:pcp-w3rxsrj-dc4-a
          artifacts: true
        - job: e2e-tests:pre:set-molecule-env
          artifacts: true
      rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master|main$/'
          changes:
            - roles/k3s/**
            - molecule/k3s__*/**

  - project: ednz-cloud/gitlab-ci-library
    ref: main
    file: includes/molecule-e2e-tests.yml
    inputs:
      stage: e2e-tests
      identifier: k3s_labels
      scenarios:
        - k3s_labels__default__openstack
        - k3s_labels__label_management__openstack
      scenario_configs:
        - '{"MOLECULE_TEST_OS":"Debian 11 bullseye","MOLECULE_TEST_USER":"debian"}'
        - '{"MOLECULE_TEST_OS":"Debian 12 bookworm","MOLECULE_TEST_USER":"debian"}'
        - '{"MOLECULE_TEST_OS":"Ubuntu 22.04 LTS Jammy Jellyfish","MOLECULE_TEST_USER":"ubuntu"}'
        - '{"MOLECULE_TEST_OS":"Ubuntu 24.04 LTS Noble Numbat","MOLECULE_TEST_USER":"ubuntu"}'
      needs:
        - job: e2e-tests:pre:vault:get-secrets:pcp-w3rxsrj-dc4-a
          artifacts: true
        - job: e2e-tests:pre:set-molecule-env
          artifacts: true
      rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^master|main$/'
          changes:
            - roles/k3s_labels/**
            - molecule/k3s_labels__*/**
